<div id="app">

  <h2 v-text="product.name"></h2>
  <h2 v-text="product.description"></h2>
  <h2> {{ product.price | formatPrice }}</h2>

  <ul>
    <li v-for="item in items"> {{ item.message}}</li>
  </ul>
  <h1>
    Lists:
  </h1>
  <ol>
    <li v-for="(list, index) in lists">
      {{ list.title }} 
      <br />
      Items: {{ list.items.length }}
        <div v-for="(item,index) in list.items">
            {{ item.title }}
        </div>
    </li>
  </ol>

  <div class="list-form">
    
    <input v-model="initialList.title">
    <div v-for="(itemArray, itemCount) in initialList.itemsArray">
      <label > Item {{itemCount}} Title</label>
      <input v-model="itemArray.title">
      <label > Item {{itemCount}} Content </label>
      <input v-model="itemArray.content">
    </div>

    <button @click="addItem">Add Item</button>

    <button v-show="canSubmit" @click="submitList">Submit List</button>
  </div>

  <div>
    <h3> Title: {{ initialList.title }} </h3>
    <h3> Items: {{ initialList.items }}</h3>
  </div>

</div>



